@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
h1{
    font-family:'Rocher' ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 5px;
}
h5{
    margin-top: 20px;
    margin-bottom: 0;
}

.Container{
    width: 400px;
    background-color: #A0C3D2;
    padding:20px;
    
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid;
    border-color: #A0C3D2;
    border-radius: 5px;
    
}
